name: Test builds on various OS and configurations

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  test_build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        mode: [8]
        max-jobs: [2, 4, 6]
        libx265: [y, n]
        libopus: [y, n]
        libvpx: [y, n]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: bash build-bootstrap.sh --none-interactive --mode ${{ matrix.mode }} --max-jobs ${{ matrix.max-jobs }} --libx265 ${{ matrix.libx265 }} --libopus ${{ matrix.libopus }} --libvpx ${{ matrix.libvpx }}
